
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black;
  }
}

.sace {
  margin-bottom: 5rem;
}
.see-all-con {
  
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  
  
  justify-content: space-between;
 
    .header-new {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 2rem;
     
    }

    .see-all {
      display: flex;
      
      padding: 0.5rem;
      width: max-content;
      height: max-content;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 0.625rem;
      background: var(--light-dark-blue, #F2F2F2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 0.75rem;
      margin-right: 4.2rem;
      color: black;
      border-style: none;
      font-weight: 600;
      color: #0F253B;
  
      
      
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    
      &:hover {
        background-color: #0F253B;
        color: white;
      }

  }
 
}

.home {
 display: flex;
 flex-direction: column;

 .custom-slider {
  margin-left: 2rem;
  margin-top: 1rem;
  width: calc(100% - 4rem); 

  // .slick-list {
    
    
  // }

  // .slick-slide {
  
    
  // }
}

/* CSS for the arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #0F253B;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  
}

.slick-prev:hover,
.slick-next:hover {
  background-color: darkgray;
}

.slick-prev {
  left: -16px;
}

.slick-next {
  right: -16px;
}




 .home-img {
  width: 4rem;
height: 4rem;
flex-shrink: 0;
align-self: center;
margin-top: 0.5rem;
margin-right: 1.2rem;

 }
 .header-32px {
  color: var(--dark-blue, #0F253B);
  font-family: Open Sans;
  font-size: 1.65rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 75% */
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
 }

 .header-24px {
  margin-left: 2rem;
  color: #000;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 100% */
  margin-top: 2rem;
 }

 .root-services-section{
  display: flex;
 flex-direction: column;

 gap: 0.5rem;
 
 margin-bottom: 2rem;
 

 .cat-container {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 2rem;
 }

 .load-more-button {
  margin-bottom: 2rem;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--light-dark-blue, #F2F2F2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: #0F253B;
  border-style: solid;
  width: 13rem;
  align-self: center;
  margin-top: 2rem;
  color: #0F253B;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-width: 0.02rem;
  transition: background-color 0.3s, color 0.3s;


  &:hover {
    background-color: #0F253B;
    color: white;
    .load-more-icon {
      color: white;
    }
  }

  .load-more-icon {
    color: #0F253B;
   
  }
 }
}

.header-28px {
  color: var(--black, #000);
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 85.714% */
  align-self: center;
  text-align: center;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

}

@media screen and (max-width: 700px) {

  .sace {
    margin-bottom: 5rem;
  }

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}


.see-all-con {
  
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  
  justify-content: space-between;
 
    .header-new {
      font-size: 0.8rem;
      font-weight: 600;
      margin-left: 1rem;
    }

    .see-all {
      display: flex;
      
      width: max-content;
      height: max-content;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 0.3rem;
      
      background: var(--light-dark-blue, #F2F2F2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 0.6875rem;
      margin-right: 1rem;
      border: none;
      color: black;
  
      
      
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    
      &:hover {
        background-color: #0F253B;
        color: white;
      }

  }
 
}

.home {
 display: flex;
 flex-direction: column;
 .custom-slider {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 90%;
  

  // .slick-list {
    
    
  // }

  // .slick-slide {
  
    
  // }
}
 .home-img {
 
flex-shrink: 0;
align-self: center;
margin-top: 0.5rem;
margin-right: 1.2rem;


 }
 .header-32px {
  color: var(--dark-blue, #0F253B);
  font-family: Open Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 75% */
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .slick-prev,
.slick-next {
  
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  font-size: 0.1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;

  

  
}


.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

 .search6 {
  padding-left: 1rem;
  padding-right: 0.75rem;
 }
 .header-24px {
  margin-left: 1rem;
  color: #000;
  font-family: Open Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 100% */
  margin-top: 1rem;
 }

 .root-services-section{
  display: flex;
 flex-direction: column;

 gap: 0.5rem;
 

 
 

 .cat-container {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
 }

 .load-more-button {

  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--light-dark-blue, #F2F2F2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: #0F253B;
  border-style: solid;
  width: 13rem;
  align-self: center;
  margin-top: 2rem;
  color: #0F253B;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-width: 0.02rem;
  transition: background-color 0.3s, color 0.3s;


  &:hover {
    background-color: #0F253B;
    color: white;
    .load-more-icon {
      color: white;
    }
  }

  .load-more-icon {
    color: #0F253B;
   
  }
 }
}

.header-28px {
  color: var(--black, #000);
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 85.714% */
  align-self: center;
  margin-top: -0.225rem;
  margin-right: 1rem;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

}
  
}

.search6 {
  padding-left: 1rem;
  padding-right: 0.75rem;

  @media only screen and (min-width: 650px) and (max-width: 1024px) {
    padding-left: 1rem;
    padding-right: 0.75rem;
    .sace {
      margin-bottom: 5rem;
    }
  }
}